# Virtual Environments
venv/
env/
.venv/

# Secrets and API Keys
.env
.streamlit/secrets.toml

# Cache and Temp
__pycache__/
*.pyc
tmp/
error

# Local DBs and Indexes (Keep the folder structure, ignore the heavy data)
database/*.db
database/*.faiss
database/*.pkl
